<footer class="footer-region" style="background-image: url(<%= asset_path 'clean_blog/footer_castanho-100.png'%>);">
  <div class="row" id="info">
    <section class="footer-section blog">
      <div class="footer-section-wrapper">
        <div class="image-wrapper">
          <img alt="Equateur Logo" class="blog-img" src="https://da7alfkd8qg77.cloudfront.net/assets/v2/footer/equateur-9f60606662b1ec99a9e15ba07d21ed4b08aee7dc456324f6946848c7d528ebff.png">
        </div>
        <div class="description-wrapper">
          <div class="blog-title">Equateur</div>
          <div class="blog-description">At Bonobos, we strive to make great
            clothing. With Equateur, we tell the stories of the humans who wear
            it.<a class="blog-link" href="http://equateur.bonobos.com/" rel="noopener" target="_blank">Read
            the latest post</a></div>
        </div>
      </div>
    </section>
    <section class="footer-section service">
      <div class="service-wrapper">
        <div class="help-link one"><a class="link" href="/help">Help</a></div>
        <div class="help-link five">
          <a class="link" href="/privacy">Privacy Policy</a></div>
      </div>
      <div class="service-wrapper">
        <div class="help-link six">
          <a class="link" href="/contact-us">Email Us</a></div>
        <div class="help-link nine"><a class="link" href="/terms">Terms</a>
        </div>
      </div>
    </section>
    <section class="footer-section newsletter">
      <div class="title">Be First</div>
      <div class="description">Want exclusive offers and first access to
        products? Sign up for email alerts.
      </div>
    </section>
  </div>
  <div class="row" id="copyright">

    <div class="container">

      <div class="col span_5">

        <p>© 2016 Salient. All Rights Reserved. </p>

      </div>
      <!--/span_5-->

      <div class="col span_7 col_last">
        <ul id="social">
          <li>
            <a href="https://plus.google.com/+airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" rel="publisher" target="_blank">
              <span class="screen-reader-only">Google+</span>
              <i class="icon footer-icon icon-google-plus"></i>
            </a>
          </li>

          <li>
            <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
            </a>
          </li>
          <li>
            <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
            </a>
          </li>

        </ul>
      </div>
      <!--/span_7-->

    </div>
    <!--/container-->
  </div>
</footer>