<div class="login_slider">

  <section class="users_grid">
    <ul class="ul_users_grid">

      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
      <li/>
    </ul>
  </section>

    <%= render "login_form" %>
</div>