<div class="usergrid">
  <ul>
    <% unless @users.nil? %>
        <% @users.each do |user| %>
            <li id="user-<%= user.id %>">
              <% if !user.image_url.nil? %>
                  <%= image_tag user.image_url %>
              <% end %>
            </li>
        <% end %>
    <% end %>
       </ul>
  <div class="filter hover"></div>
       <%= render "users/shared/subscribe" %>
</div>