<footer>
    <div class="container">
        <div class="row row-info">
            <div class="col-sm-6">
                <section class="footer-section newsletter">
                    <div class="title">Be First</div>
                    <div class="description">Want exclusive offers and first access to products? Sign up for email alerts.
                    </div>
                </section>
                <section>
                    <nav class="cl-effect-4" id="cl-effect-4">
                        <a href="{{ '/subscribe' | prepend: site.baseurl }}" class="blog-link">Subscribe</a >
          </nav>
        </section>
      </div>
        <div class="col-sm-6 follow_us">
          <div class="row title">Segue-nos</div>
            <div class="row social-buttons">
                    <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram hvr-grow"></i></a>
                    <a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook hvr-grow"></i></a>
                    <a href="{{ site.pinterest }}" target="_blank"><i class="fa fa-pinterest hvr-grow"></i></a>
                    <a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter hvr-grow"></i></a>
                    <a href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube-play hvr-grow"></i></a>
                    <a href="{{ site.google_plus }}" target="_blank"><i class="fa fa-google-plus-square hvr-grow"></i></a>
            </div>
      </div>
    </div>
    </div>
    <div class="row row-eq-height row-copyright-social">
        <div class="col-sm-12 copyright">
            <p>
                @1893-2016 4dandies. All Rights Reserved.
            </p>
        </div>
    </div>

</footer>
