<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <div id="img"></div>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="other_buttons">
                    <a href="/">Home</a></li>
                <li class="other_buttons">
                    <a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
                <li class="other_buttons">
                    <a href="{{ '/brands' | prepend: site.baseurl }}">Marcas</a></li>
                <li class="other_buttons">
                    <a href="mailto:social@4dandies.com" target="_top">Contacto</a></li>
                <li class="subscribe-button">
                    <a href="{{ '/subscribe' | prepend: site.baseurl }}">Subscreve</a></li>
            </ul>
        </div>
    </div>
</nav>