---
layout: default
description: "A Clean Blog Theme by Start Bootstrap"
---
<div class="header-brands">
    <div class="container">
        <div class="row title">
            <h1>O Mundo das Marcas Emergentes</h1>
        </div>
        <div class="row banner">
            <img src="{{ '/img/banner.png' | prepend: site.baseurl }}" class="img-responsive">
        </div>
    </div>
</div>
<div class="wrapped-content">
    <div class="container">
        <div class="brands-gallery">
            <ul>
                {% for brand in site.brands %}
                <li class="brand col-md-4 col-sm-6">
                    <a href="{{ brand.url | prepend: site.baseurl }}">
                        <div class="logoPic">
                            <img class="img-responsive"
                                 src="{{ brand.logo }}">
                        </div>
                        <div class="brand-info">
                            <h2>{{ brand.name }}</h2>
                            <p>{{ brand.description }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
            Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older
            Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
