---
layout: default
---

<div id="home">
    <div class="headerLine">

        <div class="container">
            <div class="row wrap">
                <div class="col-md-6 gallery">
                    <img class="img-responsive" src="../img/logo_bruna.png">
                    <!--img src="../img/logo_bruna.png"-->
                </div>
                <div class="col-md-6 gallery">
                    <h1>{{ page.brand_name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 project">
            <!--h3 id="counter">0</h3-->
            <img src="../img/fundation.png">
            <h4>{{ page.year }}</h4>
            <p>Ano de fundação. Informação adicional, caso necessário.</p>
        </div>
        <div class="col-md-4 project">
            <img src="../img/house.png">
            <!--h3 id="counter1">0</h3-->
            <h4>{{ page.location }}</h4>
            <p>Sede, local de fundação.</p>
        </div>
        <div class="col-md-4 project">
            <img src="../img/crown.png">
            <!--h3 id="counter2" style="margin-left: 20px;">0</h3-->
            <h4 style="margin-left: 20px;">{{ page.founder }}</h4>
            <p>Fundador, criador, equipa. </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 cBusiness">
        </div>
        <div class="col-md-8 cBusiness">
            <!-- linha separação-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 centPic">
            <h4> História da Marca </h4>
            <p>{{ content }}</p>
        </div>
        <div class="col-md-6 centPic">
            <img class="img-responsive" src="../img/logo_bruna.png"/>
        </div>
    </div>
</div>
</div>

<!--about start-->
<div class="container">
    <div class="row aboutUs">
        <div class="col-md-12 ">
            <h3>What Our Customers Say About Us?</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 wwa">
            <img class="img-responsive" src="../img/ams.jpg"/>
        </div>
    </div>
</div>

<!--contact start-->

<div class="line7">
    <div class="container">
        <div class="row footer">
            <div class="soc col-md-12">
                <h3>Redes Sociais</h3>
            </div>
            <div class="soc col-md-12">
                <ul>
                    <li class="soc1"><a href="#"></a></li>
                    <li class="soc2"><a href="#"></a></li>
                    <li class="soc3"><a href="#"></a></li>
                    <li class="soc4"><a href="#"></a></li>
                    <li class="soc5"><a href="#"></a></li>
                    <li class="soc6"><a href="#"></a></li>
                    <li class="soc7"><a href="#"></a></li>
                    <li class="soc8"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="lineBlack">
    <div class="container">
        <div class="row downLine">
            <div class="col-md-12 text-right">
                <input  id="searchPattern" type="search" placeholder="Search the Site"/><i class="glyphicon glyphicon-search" style="font-size: 13px; color:#a5a5a5;" id="iS"></i>
            </div>
            <div class="col-md-6 text-left copy">
                <p>Copyright &copy; 2014 Timber HTML Template. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-right dm">
                <ul id="downMenu">
                    <li class="active"><a href="#home">Home</a></li>
                    <!--li><a href="#features">Features</a></li-->
                </ul>
            </div>
        </div>
    </div>
</div>
</div>