---
layout: default
---

<div id="home">
    <div class="headerLine">
        <div class="container">
            <div class="row wrap">
                <div class="col-md-6 gallery">
                    <!--<img class="img-responsive" src="{{ '/img/logo_bruna.png' | prepend: site.baseurl }}">
                    <!--img src="../img/logo_bruna.png"-->
                    <img class="img-responsive" src="{{ page.logo }}">
                </div>
                <div class="col-md-6 gallery">
                    <h1>{{ page.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 project">
            <!--h3 id="counter">0</h3-->
            <img src="{{ '/img/fundation.png' | prepend: site.baseurl }}">
            <h4>{{ page.year }}</h4>
            <p>Ano de fundação. Informação adicional, caso necessário.</p>
        </div>
        <div class="col-md-4 project">
            <img src="{{ '/img/house.png' | prepend: site.baseurl }}">
            <!--h3 id="counter1">0</h3-->
            <h4>{{ page.location }}</h4>
            <p>Sede, local de fundação.</p>
        </div>
        <div class="col-md-4 project">
            <img src="{{ '/img/crown.png' | prepend: site.baseurl }}">
            <!--h3 id="counter2" style="margin-left: 20px;">0</h3-->
            <h4 style="margin-left: 20px;">{{ page.founder }}</h4>
            <p>Fundador, criador, equipa. </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 cBusiness">
        </div>
        <div class="col-md-8 cBusiness">
            <!-- linha separação-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 centPic">
            <h4> História da Marca </h4>
            <p>{{ content }}</p>
        </div>
        <div class="col-md-6 centPic">
            <img class="img-responsive" src="{{ page.founder-pic }}"/>
        </div>
    </div>
</div>
</div>

<!--about start-->
<div class="container">
    <div class="row aboutUs">
        <div class="col-md-12 ">
            <h3>What Our Customers Say About Us?</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 wwa">
            <img class="img-responsive" src="{{ '/img/ams.jpg' | prepend: site.baseurl }}"/>
        </div>
    </div>
</div>

<!--contact start-->

<div class="line7">
    <div class="container">
        <div class="row footer">
            <div class="soc col-md-12">
                <h3>Redes Sociais</h3>
            </div>
            <div class="soc col-md-12">
                <ul>
                    <li class="soc1"><a href="{{ page.facebook }}" target="_blank"><i class="fa fa-facebook hvr-grow"></i></a></li>
                    <li class="soc2"><a href="{{ page.instagram }}" target="_blank"><i class="fa fa-instagram hvr-grow"></i></a></li>
                    <li class="soc3"><a href="{{ page.pinterest }}" target="_blank"><i class="fa fa-pinterest hvr-grow"></i></a></li>
                    <li class="soc4"><a href="{{ page.twitter }}" target="_blank"><i class="fa fa-twitter hvr-grow"></i></a></li>
                    <li class="soc5"><a href="{{ page.youtube }}" target="_blank"><i class="fa fa-youtube-play hvr-grow"></i></a></li>
                    <li class="soc6"><a href="{{ page.google_plus }}" target="_blank"><i class="fa fa-google-plus-square hvr-grow"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>