---
layout: default
---

<div id="home">
    <div class="headerLine">
        <div class="container">
            <div class="row wrap">
                <div class="col-md-6 gallery">
                    <!--<img class="img-responsive" src="{{ '/img/logo_bruna.png' | prepend: site.baseurl }}">
                    <!--img src="../img/logo_bruna.png"-->
                    <img class="img-responsive" src="{{ page.logo }}"
                         alt="Brand Logo">
                </div>
                <div class="col-md-6 gallery">
                    <h1>{{ page.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 project">
            <!--h3 id="counter">0</h3-->
            <img src="{{ '/img/fundation.png' | prepend: site.baseurl }}"
                 alt="Fundation Icon">
            <h4>{{ page.year }}</h4>
            <p>Ano de fundação. Informação adicional, caso necessário.</p>
        </div>
        <div class="col-md-4 project">
            <img src="{{ '/img/house.png' | prepend: site.baseurl }}"
                 alt="House Icon">
            <!--h3 id="counter1">0</h3-->
            <h4>{{ page.location }}</h4>
            <p>Sede, local de fundação.</p>
        </div>
        <div class="col-md-4 project">
            <img src="{{ '/img/crown.png' | prepend: site.baseurl }}"
                 alt="Crown Icon">
            <!--h3 id="counter2" style="margin-left: 20px;">0</h3-->
            <h4 style="margin-left: 20px;">{{ page.founder }}</h4>
            <p>Fundador, criador, equipa. </p>
        </div>
    </div>
</div>
{% if page.video %}
<div class="container">
    <div class="row">
        <div class="col-md-12 video">
            <iframe width="100%" frameborder="0" style="border:0"
                    src="{{ page.video }}" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 cBusiness">
        </div>
        <div class="col-md-8 cBusiness">
            <!-- linha separação-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 centPic">
            <h4> História da Marca </h4>
            <p>{{ content }}</p>
        </div>
        <div class="col-md-6 centPic">
            <img class="img-responsive" src="{{ page.founder-pic }}"
                 alt="Founder Pic"/>
        </div>
    </div>
</div>

<!--contact start-->

<div class="line7">
    <div class="container-fluid">
        <div class="row footer">
            <div class="soc col-md-12">
                <h3>Visita-nos</h3>
            </div>
            <div class="soc col-md-12">
                <ul>
                    {% if page.website %}
                    <li class="soc1"><a href="{{ page.website }}"
                                        target="_blank"><i
                            class="fa fa-home"></i></a></li>
                    {% endif %}
                    {% if page.facebook %}
                    <li class="soc1"><a href="{{ page.facebook }}"
                                        target="_blank"><i
                            class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if page.instagram %}
                    <li class="soc2"><a href="{{ page.instagram }}"
                                        target="_blank"><i
                            class="fa fa-instagram"></i></a></li>
                    {% endif %}
                    {% if page.pinterest %}
                    <li class="soc3"><a href="{{ page.pinterest }}"
                                        target="_blank"><i
                            class="fa fa-pinterest"></i></a></li>
                    {% endif %}
                    {% if page.twitter %}
                    <li class="soc4"><a href="{{ page.twitter }}"
                                        target="_blank"><i
                            class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if page.youtube %}
                    <li class="soc5"><a href="{{ page.youtube }}"
                                        target="_blank"><i
                            class="fa fa-youtube-play"></i></a></li>
                    {% endif %}
                    {% if page.google_plus %}
                    <li class="soc6"><a href="{{ page.google_plus }}"
                                        target="_blank"><i
                            class="fa fa-google-plus-square"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if page.map %}
        <div class="row">
            <div class="col-md-12 map">
                <iframe width="100%" frameborder="0" style="border:0"
                        src="{{ 'https://www.google.com/maps/embed/v1/place?key=AIzaSyCxHwbtkSpeGs5YZENhdf_wUikZZJEeKGM
    &q=' | append: page.map}}" allowfullscreen>
                </iframe>
                <script>
                    $('.map').click(function () {
                        $(this).find('iframe').addClass('clicked')
                    }).mouseleave(function () {
                        $(this).find('iframe').removeClass('clicked')
                    });
                </script>
            </div>
        </div>
        {% endif %}
    </div>
</div>
