---
layout: default
comments: true
---

<div class="header">
    <img src="{{ '/img/ams.jpg' | prepend: site.baseurl }} " style="max-width: 100%;" />
</div>


<div class="post_title">
    <div class="container">
        <div class="row">
            <h1>Violência doméstica.
            </h1>
        </div>
        <div>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <p>7, Setembro, 2016</p>
        </div>
    </div>
</div>
<div class="post_body">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-sm-2 post_author">
                <div id="author" class="col-sm-12 avatar">
                    <img class="" style="max-width: 110px; height: auto;" src="{{ '/img/logo_bruna.jpg' | prepend: site.baseurl }} ">
                    <p style="width: 110px; border-bottom: 2px solid black;padding-bottom: 10px;">Bruna Magalhães</p>
                    <p>Tags</p>
                    <div class="tags">
                        {% for tag in page.tags %}
                            <a>{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8 post_content">
              {{ content }}
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//4dandies.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
            <div class="col-sm-2 post_share">
                <ul id="social_buttons" class="social_buttons">
                    <a class="fa fa-facebook hvr-grow" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,left=660,top=190,width=600,height=600'); return false;" title="Facebook"></a>
                    <a class="fa fa-pinterest hvr-grow" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,left=660,top=190,width=600,height=600'); return false;" title="Pinterest"></a>
                    <a class="fa fa-twitter hvr-grow" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,left=660,top=190,width=600,height=600'); return false;" title="Twitter"></a>
                    <a class="fa fa-google-plus-square hvr-grow" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,left=660,top=190,width=600,height=600'); return false;" title="Google-Plus"></a>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var facebook = document.getElementsByClassName("fa-facebook")[0];
    facebook.setAttribute("href","https://www.facebook.com/sharer/sharer.php?u="+window.location.href );

    var twitter = document.getElementsByClassName("fa-twitter")[0];
    twitter.setAttribute("href","https://twitter.com/intent/tweet?url="+window.location.href );

    var google = document.getElementsByClassName("fa-google-plus-square")[0];
    google.setAttribute("href","https://plus.google.com/share?url="+window.location.href );

    var pinterest = document.getElementsByClassName("fa-pinterest")[0];
    pinterest.setAttribute("href","http://pinterest.com/pin/create/button/?url="+window.location.href );

</script>
