.navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-default {
    background-image: none !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-bottom-style: dashed !important;
    background-color: transparent;
    box-shadow: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand .img {
    height: inherit;
    width: 215px;
    background-image: url('/img/logo_preto-100.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/** LIST ITEMS IN NAVBAR **/

.navbar-default .navbar-nav>li>a {
    color: #050505;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #050505;
}

.navbar-default .navbar-nav li .subscribe-button {
    outline: solid 1px #28c891;
}

.navbar-default .navbar-nav li .subscribe-button {
    outline: solid 1px #28c891;
    color: #28c891;
}

.navbar-default .navbar-nav li .subscribe-button:hover {
    background-color: #28c891;
    color: white;
}


/** TOOGLE BUTTON **/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #050505;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #050505;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}


/** LISTS INSIDE TOGGLE BUTTON **/

.navbar-default .navbar-collapse{
    border-color: #050505;
}

.top-nav-collapse .collapse.in,
.top-nav-collapse .collapsing {
    background-color: transparent!important;
}

.collapse.in,
.collapsing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.collapse.in ul,
.collapsing ul {
    padding-right: 10px;
    text-align: right;
}


/** TOP NAV COLLAPSSE **/
.top-nav-collapse {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22) !important;
}

.top-nav-collapse .navbar-brand {
    height: 40px;
}

.top-nav-collapse .navbar-toggle{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 9px 10px;
}

.top-nav-collapse .navbar-brand .img {
    height: inherit;
    width: 40px;
    background-image: url('/img/4_logo@2x.png');
}

.top-nav-collapse .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }

    .collapse.in{
        display: flex !important;
    }
}