.header {
  background-image: image_url('download4-min.jpeg');
  text-align: center;
  height: 90vh;
  min-height: 650px;
  background-position: 50% 0px;
  background-size: cover;
  color: #050505;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1px !important;
}

.header .cover,
.info,
.followus {
  height: inherit;
  min-height: inherit;
  width: 100%;
  position: absolute;
}

.header .info,
.followus {
  z-index: 3;
  display: flex;
  justify-content: center;
}

.header .cover {
  background-color: #f2f2f2;
  opacity: 0.5;
  z-index: 1;
}

.header .info {
  align-items: center;
}

.header .followus {
  align-items: flex-end;
}

.header .title {
  font-size: 75px;
  font-weight: bold;
}

.header .description {
  font-size: 20px;
}

.header .followus {
  padding-bottom: 25px;
  align-self: flex-end;
}

.header .followus ul {
  padding: 0;
}

.header .followus ul i {
  padding: 5px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: #050505;
}

.header .followus ul a + a {
  margin-left: 10px;
}

.header .followus ul a{
  text-decoration: none!important;
  color: transparent;
}

.header .followus .title {
  font-size: 30px;
}

.header .followus #arrow{
  margin: 30px 0px 0px 0px;
}

.header .followus #arrow i{
  opacity: 0.3;
  font-size: 25px;
}


