/* Social Icons */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
}


/* MODAL */

body {
    background-color: #f7f7f7;
    padding-right:0px !important;
    margin-right:0px !important;
}

body.modal-open {
    overflow: auto;
}

body.modal-open .modal{
    display: flex!important;
    align-items: center;
}

#myModal{
    padding-right: 0px !important;
}

#myModal .modal-dialog{
    width: 300px;
}

#myModal .modal-dialog button{
    position: absolute;
    z-index: 1;
    padding-left: 260px;
    color: white;
    opacity: 1;
}

/* Brand Carousel */

#carousel-demo1 {
    margin: 2.5vh;
    color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-demo1 .carousel-element {
    font-size: 5vh;
    width: 300px;
}


/* Cursor For icons */
body i{
  cursor: pointer;
}

/* Row with same height */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.img-left:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    height: 0px;
    width: 0px;
    border-left:60px solid white;
    border-top:60px solid white;
    border-bottom:60px solid transparent;
    border-right:60px solid transparent;
}

.img-left:after {
    content: '';
    position:absolute;
    bottom:0;
    right:0;
    height: 0px;
    width: 0px;
    border-left:60px solid transparent;
    border-top:60px solid transparent;
    border-bottom:60px solid white;
    border-right:60px solid white;
}

.img-left-2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 0px;
    border-left: 60px solid white;
    border-top: 60px solid transparent;
    border-bottom: 60px solid white;
    border-right: 60px solid transparent;
}

.img-left-2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0px;
    width: 0px;
    border-left: 60px solid transparent;
    border-top: 60px solid white;
    border-bottom: 60px solid transparent;
    border-right: 60px solid white;
}

.img-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    border-left: 60px solid #f7f7f7;
    border-top: 60px solid #f7f7f7;
    border-bottom: 60px solid transparent;
    border-right: 60px solid transparent;
}

.img-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 0px;
    border-left: 60px solid #f7f7f7;
    border-top: 60px solid transparent;
    border-bottom: 60px solid #f7f7f7;
    border-right: 60px solid transparent;
}