/*nav*/

.navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9)!important;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}

.navbar-default {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)!important;
    border-bottom-style: dashed!important;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-weight: 800;
    font-size: 25px;
    color: #050505;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #050505;
}

.navbar-default .nav li:hover{
    background-color: #f2f2f2;
}

.navbar-default .container{
    width: inherit;
    margin:0 10%;
}

.navbar-default .navbar-toggle{
    border-color: #050505
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #050505;
    height: 1px;
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar{
    margin-top: 5px;
}

.navbar-default .navbar-collapse{
    border-color: #050505;

}
.navbar-default .navbar-collapse ul{
    float: right;
}

.navbar-default .navbar-collapse li{
    text-align: right;
    padding: 10px 10px;
}

.navbar-default .navbar-collapse li a{
    text-align: right;
    padding: 0px;
}


