/*nav*/

.navbar {
  padding: 20px 0;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22) !important;
}

.navbar-default {
  background-image: none !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom-style: dashed !important;
  background-color: transparent;
  box-shadow: none;
}

.navbar-brand{
  padding: 0px;
}

.top-nav-collapse .navbar-brand #img {
  margin: 5px 0px;
  height: 40px;
  background-image: image_url('4_logo@2x.png');
}

.navbar-brand #img {
  width: 200px;
  height: 100%;
  background-image: image_url('logo_preto-100.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #050505;
}

.navbar-default .nav li.other_buttons:hover {
  background-color: #050505 !important;
}

.navbar-default .nav li.other_buttons:hover a {
  color: white !important;
}

.navbar-default .nav li.subscribe-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: solid 1px #28c891;
}

.navbar-default .nav li.subscribe-button a {
  color: #28c891;
}

.navbar-default .nav li.subscribe-button:hover {
  background-color: #28c891;
}

.navbar-default .nav li.subscribe-button:hover a {
  color: #FFFFFF;
}

.navbar-default .container {
  width: inherit;
  margin: 0 10%;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #050505;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #050505;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: white;
}

.navbar-default .navbar-collapse {
  border-color: #050505;
}

.collapse.in ul, .collapsing ul{
  max-width: 250px;
  padding-right: 10px;
  float: right;
  text-align: right;
}

