.section h4 {
  text-transform: uppercase;
  font-size: 45px;
}

.section h4 + p {
  margin-top: 20px;
}

.section {
  color: #050505;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.left {
  background-color: #ffffff;
}

.right {
  background-color: #f7f7f7;
}

@media(max-width: 767px) {
  .info {
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.info > .row {
  padding: 0px 7%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.action {
  vertical-align: bottom;
  text-align: right;
  padding: 5% 0;
}

.section .img {
  background-size: cover;
  min-height: 50vh;
}

.blog .img {
  background-image: image_url('blog-min.jpg');
}

.aboutus .img {
  background-image: image_url('brands-min.jpeg');
}

.wwwant .img {
  background-image: image_url('team-min.jpg');
}

.brands #grid {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 7% 0px 0px;
  align-self: center;
  line-height: 5em;
}

.brands #grid ul {
  text-align: center;
  padding: 0px;
  list-style-type: none;
}

.brands #grid .action {
  padding-top: 0;
}

.info {

}

/*Buttons*/

.section .action .link {
  font-weight: 700;
  font-family: Quicksand;
  font-size: 20px;
  color: #050505 !important;
  text-decoration: none !important;
}

.section .action .link:hover {
  color: white !important;
  background-color: #050505;
}

.section .action .link span {
  font-size: 15px;
}