.usergrid {
  background-color: white;
  height: 403px;
  width: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.usergrid ul {
  width: calc(100% + 99px);
  padding: 0;
  margin: 0;
}

.usergrid li {
  float: left;
  height: 100px;
  width: 100px;
  /*background-image: url("https://scontent-lhr3-1.cdninstagram.com/t51.2885-19/s150x150/13734304_288676411495256_393627284_a.jpg");*/
  background-size: cover;
  list-style: none;
  margin: 0px 1px 1px 0px;
}

.usergrid li img{
  height: inherit;
  width: inherit;
}

.usergrid .hover {
  position: absolute;
  width: inherit;
  height: inherit;
  margin: 0;
}

.usergrid .filter {
  background-color: #f2f2f2;
  opacity: 0.5;
 /* background-color: #050505;
  opacity: 0.2;*/
}