<div class="aboutus section" id="left">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="img">
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="info">
        <div class="row">
          <p>
          <h4>Sobre nós</h4></p>
          <p>
            4Dandies é uma plataforma online de promoção de jovens marcas e designers que permite aos criadores apresentar os seus artigos. Unir-se para influenciar o mundo da moda e quebrar regras na indústria.</br>
            É sobre ter algo para contar: uma história, uma emoção ou uma visão para partilhar.</br>
            Não é sobre utilizadores ou consumidores.</br>
            É sobre as pessoas por trás dos artigos.</br>
            É sobre as pessoas que os seguem.</br>
            É sobre pessoas e para pessoas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wwwant section" id="right">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="info">
        <div class="row">
          <p>
          <h4>A equipa</h4></p>
          <p>Somos uma pequena equipa de pessoas talentosas, obcecadas pelos resultados e apaixonados pelo que fazemos. Trabalhamos para levar aos nossos clientes os melhores produtos e às nossas marcas as ferramentas para que se possam dedicar a criar os melhores e mais exclusivos artigos.</br>
            Total entrega e dedicação são os valores pelos quais vivemos."</p>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="img">
      </div>
    </div>
  </div>
</div>