<div class="section aboutus left" id="aboutus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-xs-12 img-left img vertical-align">
      </div><!--
    --><div class="col-sm-5 col-xs-12 col-sm-offset-2 info vertical-align">
        <div class="row">
          <p><h4> <%= t('landing.titles.about_us') %></h4></p>
          <p>
            <%= t('landing.texts.about_us.html') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section wwwant right">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5  col-sm-offset-2 col-xs-12 col-sm-push-5 img-right img vertical-align">
      </div><!--
    --><div class="col-sm-5 col-sm-pull-7 col-xs-12 info vertical-align">
        <div class="row">
          <p><h4> <%= t('landing.titles.team') %> </h4></p>
          <p>
            <%= t('landing.texts.team.html') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>