<div class="aboutus section" id="left">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5 img-left" id="img">
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="info">
        <div class="row">
          <p><h4> <%= t('landing.titles.about_us') %> </h4></p>
          <p>
            Esta página que está a ver é a primeiro protótipo daquele que será o primeiro Marketplace de marcas emergentes nacionais e jovens designers independentes totalmente online.<br/>
            Aqui poderá encontrar artigos exclusivos e de qualidade superior, de criadores que estão a dar os seus primeiros passos no mundo da moda por todo o País e com o mundo como ambição.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wwwant section" id="right">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="info">
        <div class="row">
          <p><h4> <%= t('landing.titles.team') %> </h4></p>
          <p>Atrás do 4Dandies está uma equipa de jovens independentes e movidos pela paixão da moda. Acreditamos num mundo mais próspero onde mais marcas emergem como solução às gigantes superproduções. <br/>Acreditamos que os estilos e personalidades se traduzem na moda e que cada um é diferente e único, por isso trabalhamos arduamente com a missão de causar impacto no mundo da moda, apoiando os novos criadores que se lançam no nosso mercado.</p>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2 img-right" id="img">
      </div>
    </div>
  </div>
</div>