<div class="aboutus section" id="left">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="img">
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="info">
        <div class="row">
          <p>
          <h4><%= t('landing.titles.about_us') %></h4></p>
          <p>4Dandies é uma plataforma online de promoção de jovens marcas e designers. De Portugal para o mundo.

            4Dandies foi criada para preencher a falta de uma comunidade online onde jovens marcas e designers se encontrem para se darem a conhecer e promover os seus artigos e criações exclusivas, autênticas e de qualidade.

            Pretendemos que estas jovens marcas e designers sejam exemplos e influências positivas para futuros empreendedores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wwwant section" id="right">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="info">
        <div class="row">
          <p>
          <h4><%= t('landing.titles.team') %></h4></p>
          <p>Somos de momento uma pequena equipa mas talentosa e até um bocado obcecada pela qualidade do que fazemos.
            Trabalhamos dia após dia para melhorar a nossa plataforma, melhorar a experiência dos nossos Dandies, melhorar a vida dos jovens criadores e empreendedores e ainda levar aos nossos Dandies produtos de alta qualidade e exclusividade.

            Acreditamos que é a paixão pelo que fazemos que nos faz ser melhores, não o tamanho da nossa equipa, por isso nos comprometemos em dar o nosso melhor.
            Prometemos fazer o que estiver ao nosso alcance para nos demarcarmos mundialmente como uma casa de alta qualidade e confiança onde apaixonados por moda e criadores poderão partilhar momentos e gostos pessoais.</p>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="img">
      </div>
    </div>
  </div>
</div>