<div class="blog section" id="left">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5 img-left-2" id="img">
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="info">
        <div class="row">
          <p><h4> <%= t('landing.titles.blog') %> </h4></p>
          <p>No nosso Blog teremos um espaço reservado e totalmente dedicado às marcas e ao setor da moda. Pretendemos contar as histórias que nos permitirão dizer o que nos vai no coração. As histórias que levaram à criação das marcas e que nos permite mostrar a autenticidade do trabalho que dedicamos a projeto.<br/>
            Daremos a conhecer marcas e designers emergentes com histórias por contar. A conhecer pelo que presentam ou pelas pessoas que lhes deram origem.
          </p>
        </div>
        <div class="row">
          <div class="action">
            <a href="#" class="link"> <%= t('landing.buttons.visit') %> <span> > </span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>