<div class="section blog left">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-xs-12 img-left-2 img vertical-align">
      </div><!--
    --><div class="col-sm-5 col-xs-12 col-sm-offset-2 info vertical-align">
        <div class="row">
          <p><h4> <%= t('landing.titles.blog') %> </h4></p>
          <p>
            <%= t('landing.texts.blog.html') %>
          </p>
        </div>
        <div class="row">
          <div class="action">
            <a href="#" class="link"> <%= t('landing.buttons.visit') %> <span> > </span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>