<div class="blog section" id="left">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="img">
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="info">
        <div class="row">
          <p><h4><%= t('landing.titles.blog') %></h4></p>
          <p>A tua história permite-nos falar do que nos vai no coração.
            Histórias como a tua permitem-nos mostrar a autenticidade por detrás
            de todo o trabalho e entrega.<p/>
          <p>Esta casa é para jovens marcas e designers com histórias para
            contar. Marcas a conhecer pelo que representam, pelas pessoas que
            lhe dão forma e pelo modo como te fazem sentir. Esta casa também é
            tua!</p>
          <p>De amigo para amigo, conta-nos a tua história.</p>
          <p>Entra já em contacto connosco, queremos-te conhecer e ouvir.</p>
        </div>
        <div class="row">
          <div class="action">
            <a href="#" class="link"><%= t('landing.buttons.visit') %><span> > </span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>