<div class="brands section" id="right">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5" id="info">
        <div class="row">
          <p>
          <h4>Marcas</h4></p>
          <p>Promovemos as mais recentes marcas e designers de Portugal.</br>
            Reunimos marcas e designers que querem crescer no mundo da moda.
            4Dandies é o lugar onde pode descobrir marcas e designers únicos
            pelas suas visões e produtos.<br/>
            Aqui pode conhecer a história e os criadores dos produtos que adora.
          </p>
        </div>
        <div class="row">
          <div class="action">
            <a href="#" class="link">Contactar<span> > </span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="grid">
        <div class="row">
          <ul>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="action">
            <a href="#" class="link">Ver mais<span> > </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>