<div class="brands section" id="right">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-sm-5 info">
        <div class="row">
          <h4><p> <%= t('landing.titles.brands') %></p> </h4>
          <p>
            Criadores, marcas e designers portugueses, emergentes no setor da moda e que pretendem chegar mais longe com os seus projetos.<br/>
            Exclusividade, qualidade e autenticidade serão os atributos que nos permitirão selecionar os produtos a trazer a este Marketplace.<br/>
            Acreditamos que a diferença está nos pequenos detalhes e por isso queremos apoiar estes projetos emergentes que demonstram o que de melhor temos a nível nacional, levar o que é nosso por natureza ao mundo. Conquistar novos e mais palcos.
          </p>
        </div>
        <div class="row">
          <div class="action">
            <a href="mailto:social@4dandies.com" target="_top" class="link" ><%= t('landing.buttons.contact') %><span> > </span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2" id="grid">
        <div class="row">
          <ul>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
            <li class="brand-icon col-sm-4">
              <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="action">
            <a href="<%= brands_path %>" class="link"><%= t('landing.buttons.see_more') %><span> > </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>