<div id="carousel-demo1" class="carousel-demo">
  <div class="carousel-element">
    <i class="fa fa-apple fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-amazon fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-pied-piper-alt fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-empire fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-angellist fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-deviantart fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-safari fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-qq fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-dribbble fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-google-plus-square fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-google-plus fa-2" aria-hidden="true"></i></div>
  <div class="carousel-element">
    <i class="fa fa-gratipay fa-2" aria-hidden="true"></i></div>
</div>
