<div class="header">
  <div class="cover"></div>
  <div class="info">
    <div class="container">
      <p class="title">Lorem ipsum dolor sit amet</p>
      <p class="description">Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <div class="followus">
    <div class="container">
      <p class="title"> Follow Us</p>
      <p>
      <ul>
        <i class="fa fa-instagram hvr-grow"></i>
        <i class="fa fa-facebook hvr-grow"></i>
        <i class="fa fa-pinterest hvr-grow"></i>
        <i class="fa fa-twitter hvr-grow"></i>
        <i class="fa fa-youtube-play hvr-grow"></i>
        <i class="fa fa-google-plus-square hvr-grow"></i>
      </ul>
      </p>
      <p id="arrow">
        <i class="fa fa-sort-desc"></i></p>
    </div>
  </div>
</div>