<div class="login_div">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="login_top_div">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 sign_up">
        <h4>Sign Up</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 social_buttons">
        <a href="/users/auth/facebook" class="col-md-4">
          <i class="fa fa-facebook-square hvr-grow button"></i>
        </a>
        <a href="/users/auth/twitter" class="col-md-4" style="">
          <i class="fa fa-twitter hvr-grow button" ></i>
        </a>
        <a href="/users/auth/google_oauth2" class="col-md-4">
          <i class="fa fa-google hvr-grow button" ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row row_text_divider">
  <p class="text_divider">
    Or Be Classical
  </p>
    </div>
  <div class="row">
    <div class="col-sm-12 login_bottom_div input">
	<span style="float: left;">
											<i style="margin-bottom: 4px;" class="fa fa-user fa-2x"></i>
										</span>
      <span style="float: left; margin-left: 64px; " class="input input--hoshi">
          <%= text_field "user", "name", "id" => "input_name", "class" => "input__field input__field--hoshi" %>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
						<span class="input__label-content input__label-content--hoshi">Name</span>
					</label>
				</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 login_bottom_div input">
	<span style="float: left;">
											<i style="font-size: 22px; margin-bottom: 4px;" class="fa fa-envelope fa-2x"></i>
										</span>
      <span style="float: left; margin-left: 64px;" class="input input--hoshi">
         <%= text_field "user", "email", "id" => "input_email", "class" => "input__field input__field--hoshi" %>
        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
						<span class="input__label-content input__label-content--hoshi">Email</span>
					</label>
				</span>
    </div>
  </div>
  <div class="row">
    <%= button_tag "Get Started", "name" => "commit",
                   "class" => "col-sm-4 col-sm-offset-4 hvr-underline-from-left get-started" %>
  </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $("#input_name").click(function(){
      $(this).attr("placeholder", "First & Last Name");
    });
    $("#input_name").focusout(function(){
      $(this).attr("placeholder", "");
    });
  });

  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();
</script>