
<% flash.each do |key, value| %>

    <% if key == "notice" %>
        <%= javascript_include_tag "notificationFx", "data-turbolinks-track" => true  %>
        <script>
          $(document).ready(function(){(function() {
            setTimeout( function() {
              // create the notification
              var notification = new NotificationFx({
                message : '<div class="ns-thumb"><img src="<%= asset_path '4_logo@2x.png' %>" height="64" width="64"/></div><div class="ns-content"><p> <%= value %></p></div>',
                layout : 'other',
                ttl : 6000,
                effect : 'thumbslider',
                type : 'notice', // notice, warning, error or success
                onClose : function() {
                }
              });

              // show the notification
              notification.show();

            }, 1200 );
          })();
          });
        </script>
    <% end %>
<% end %>