<div class="card card-signup">
  <form class="form" method="" action="">
    <div class="header header-primary text-center">
      <h4>Sign Up</h4>
      <div class="social-line">
        <a href="/users/auth/facebook" class="btn btn-simple btn-just-icon">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="/users/auth/twitter" class="btn btn-simple btn-just-icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="/users/auth/google_oauth2" class="btn btn-simple btn-just-icon">
          <i class="fa fa-google"></i>
        </a>
      </div>
    </div>
    <p class="text-divider">Or Be Classical</p>
    <div class="content">

      <div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-user fa-2x"></i>
										</span>
        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="First Name..."><span class="material-input"></span></div>
      </div>

      <div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-envelope fa-2x" style="font-size: 22px"></i> <!-- font-size: 22px is necessary because the size of this icon is different and the input fields wouldnt be align-->
										</span>
        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Email..."><span class="material-input"></span></div>
      </div>
    </div>
    <div class="footer text-center">
      <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a>
    </div>
  </form>
</div>