<%= javascript_include_tag "notificationFx", "data-turbolinks-track" => true  %>
<%= devise_error_messages! %>

<div id="full" style="width: 100%;
    overflow: hidden;">
  <div class="row" style="text-align: center;margin-top: 100px">
  <h1>Join our community</h1>
  </div>
  <%= render '/users/shared/usergrid' %>
</div>
